<!--<button class="btn btn-warning"
  (click)="router.navigate(['/conciliacion']);">Conciliar</button>
-->
<!--<input type="file" [(ngModel)]="Model.datasourcelistdata" 
  name="datasource_upload" id="datasource_upload" 
  accept=".xlsx,.xls,.csv" ngf-max-size="20MB" 
  fd-input (change)="uploadDatasource($event)" />-->
  
<div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr class="text-center">
              <th>CLAVE</th>
              <th>NOMBRE</th>
              <th>GENERO</th>
              <th>CLAVE REFERENCIA</th>
              <th>TELE</th>
              <th>EMAIL</th>
              <th>ACCIONES</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let residente of listResidentes" class="text-center">
              <td>{{residente.rcveresi}}</td>
              <td>{{residente.rnombrecompleto}}</td>
              <td>{{residente.rgenero}}</td>
              <td>{{residente.rcveref.rcveref}}</td>
              <td>{{residente.rtele}}</td>
              <td>{{residente.remail}}</td>
              <td>
                  <button class="btn btn-warning"
                  (click)="postThis(residente)">ENVIAR MAIL</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>