<div class="row">
    <div *ngIf="currentFileUpload" class="progress">
        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
            attr.aria-valuenow="{{progress.percentage}}" aria-valuemin="0" aria-valuemax="100"
            [ngStyle]="{width:progress.percentage+'%'}">
            {{progress.percentage}}%</div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label class="btn btn-default">
            <input type="file" (change)="selectFile($event)">
        </label>
    </div>
    <div class="col-md-8">
        <button class="btn btn-success" [disabled]="!seleccionaArchivo" (click)="subirArchivo()">Subir Archivo</button>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr class="text-center">
                <th>id</th>
                <th>dcodigo</th>
                <th>dasenta</th>
                <th>dtipoasenta</th>
                <th>dmnpio</th>
                <th>destado</th>
                <th>dciudad</th>
                <th>dcp</th>
                <th>cestado</th>
                <th>coficina</th>
                <th>ccp</th>
                <th>ctipoasenta</th>
                <th>cmnpio</th>
                <th>idasentacpcons</th>
                <th>dzona</th>
                <th>ccveciudad</th>
                <th>ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let conciliacion of listConciliaciones | paginate: {itemsPerPage:7, currentPage:pageActual}"
                class="text-center">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button class="btn btn-warning">AccionN</button>
                </td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="pageActual = $event"> </pagination-controls>
</div>