<table class="table table-hover">
  <thead>
    <tr class="text-center">
      <th>ID</th>
      <th>NOMBRE</th>
      <th>CUENTA BANCARIA</th>
      <th>SUCURSAL</th>
      <th>CLAVE CUENTA</th>
      <th>CORREO</th>
      <th>ACCION</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarioslist_" class="text-center">
      <td>
        <span class="badge">{{usuario.id}}</span>
      </td>
      <td>{{usuario.name}}&nbsp;{{usuario.secondname}}&nbsp;{{usuario.appat}}&nbsp;{{usuario.apmat}}</td>
      <td>{{usuario.bancocuenta}}</td>
      <td>{{usuario.bancosucursal}}</td>
      <td>{{usuario.bancoclave}}</td>
      <td>{{usuario.email}}</td>
      <td>
          <a routerLink="/detalle/{{usuario.id}}">
            <span class="badge">VER</span>
          </a>&nbsp;|&nbsp;
          <!--a routerLink="/detalle/{{usuario.id}}">
            <span class="badge">ENVIAR EMAIL</span>
          </a-->
          <button (click)="postThis(usuario.email)">
              ENVIAR MAIL
          </button>
      </td>
    </tr>
  </tbody>
</table>